/* 
ORGANIZAÇÃO
.seletor {
    [alinhamento dos elementos]
    [fonte e propriedades de texto]
    [plano de fundo]
    [tamanho]
    [bordas]
    [sombras]
    [espaçamentos]
    [posicionamento]
} */

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box !important;
    outline: none !important;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

:root{
    --primaria: rgb(255, 11, 11); /* #ff0b0b */
    --primaria-claro: rgb(247, 43, 43); /* #f72b2b */
    --primaria-escura: rgb(197, 5, 5); /* #c50505 */
    --secundaria: rgb(242, 242, 242);

    --cor-fonte-clara: white;
    --cor-fonte-escura: rgb(20, 20, 20);

    --cor-fonte-btn-clara: white;
    --cor-fonte-btn-escura: rgb(20, 20, 20);

    --invisivel: rgba(255, 119, 0, 0);
}

::selection{
    color: white;
    background-color: rgb(13, 97, 207);
}

/* Universais */

body{
    background-color: rgb(32, 32, 32);
    scroll-behavior: smooth;
    width: 100% !important;
    overflow: hidden;
    position: relative;
}

section{
    height: 100vh;
    max-height: 860px;

    padding: 0 !important;
}

.row{    
    width: 100% !important;
    max-width: 1600px !important;
    height: 100%;

    margin: 0 auto !important;
}

    .btn-saiba-mais{
        color: var(--cor-fonte-btn-clara);
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;

        background-color: var(--primaria);

        width: 200px;

        border: 1px solid var(--primaria) !important;
        border-radius: 50px;

        box-shadow: none !important;

        padding: 10px 20px;

        cursor: pointer;
        transition: .2s ease-out !important;
    }
    .btn-saiba-mais:hover{
        color: var(--primaria);
        background-color: var(--invisivel);

        box-shadow: none;
    }
    .btn-saiba-mais-parallax{
        color: var(--cor-fonte-btn-clara);
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;

        background-color: var(--primaria);

        width: 200px;

        border: 1px solid var(--primaria) !important;
        border-radius: 50px;

        box-shadow: none !important;

        padding: 10px 20px;

        cursor: pointer;
        transition: .5s ease-out !important;
    }
    .btn-saiba-mais-parallax:hover{
        color: var(--cor-fonte-btn-clara);
        background-color: var(--invisivel);

        box-shadow: none;
    }
    .reverse-btn{
        color: var(--primaria-escura) !important;
        background-color: var(--cor-fonte-btn-clara) !important;

        border: 1px solid var(--cor-fonte-btn-clara) !important;
    }
    .reverse-btn:hover{
        color: var(--cor-fonte-btn-clara) !important;
        background-color: var(--invisivel) !important;
    }

    /* parallax */

    .MainContainer {
        perspective: 1px;
        transform-style: preserve-3d;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;

        width: 100%;

        padding: 0 !important;

        position: absolute;
        left: 0;
        top: 0;
    }

    .ParallaxContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        position: relative;
        z-index: -1;
        height: 100vh;

        transform: translateZ(-1px) scale(2.1);
        background: url(../images/bg-s1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-color: #fae4d8;
    }

    .ParallaxContainer > .parallax-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: 50%;
        height: 100%;
    }

        .parallax-text > h1{
            color: white;
            font-size: 3rem;
            font-weight: bold;
            text-align: left;
            
            width: 75%;
        }

        .parallax-text > p{
            color: white;
            font-size: 1.4rem;
            text-align: left;
            
            width: 75%;
            
            margin: 15px 0 50px 0;
        }

.onda-s1{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

    .conteudo-s1 {
        display: flex;
        flex-direction: column;

        background: linear-gradient(180deg, rgba(214,32,32,1) 0%, rgba(247,43,43,1) 100%);

        height: auto;

        padding: 0 !important;

        position: relative;
    }

    .titulo-conteudo-s1 {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 60%;
        margin: 0 auto;
        padding: 75px 0;
    }

        .balao-titulo{
            display: flex;
            align-items: center;
            justify-content: center;
            
            width: auto;
            height: 60px;
            background: rgb(255, 255, 255);

            padding: 0 45px;

            box-shadow: rgba(0, 0, 0, 0.3) 0 0 35px 0;

            position: relative;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        .balao-titulo:before {
            content: "";
            position: absolute;
            left: 90%;
            bottom: -32px;
            width: 0;
            height: 0;

            border-top: 0px solid transparent;
            border-right: 32px solid rgb(255, 255, 255);
            border-left: 0 solid rgb(255, 255, 255);
            border-bottom: 32px solid transparent;
        }

            .balao-titulo > h2{
                color: black;
                font-weight: bold;
                margin: 0;
            }

    .cards-conteudo-s1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        margin: auto 0 100px;
    }

        .card-s1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 40%;
            min-width: 320px;
            height: 320px;

            margin-bottom: 60px;
        }

            .card-s1 > .icon-card-s1{
                display: flex;
                align-items: center;
                justify-content: center;

                width: 20%;

                margin-bottom: 40px;
            }

                .icon-card-s1 > img{
                    width: 80%;
                }

            .card-s1 > h3{
                color: var(--cor-fonte-clara);
                font-weight: bold;
                font-size: 2rem;
                font-style: italic;
                text-align: center;
            }

            .card-s1 > p{
                color: var(--cor-fonte-clara);
                font-size: 1.2rem;
                text-align: center;

                width: 80%;

                margin: 0 auto;
            }

    .title-s2{
        display: flex;
        justify-content: center;
        width: 100%;

        position: absolute;
        bottom: 0;
    }

        .title-s2 > .title-box{
            background-color: var(--secundaria);

            width: 25%;

            border-top-right-radius: 12px;
            border-top-left-radius: 12px;

            padding: 20px;
        }

            .title-box > h3{
                font-size: 2rem;
                font-weight: bold;
                text-align: center;

                margin: 0 !important;
            }

    /* ================ SECTION 2 ================ */

    .section-2{
        background: var(--secundaria);
    }

    .section-2 .text-s2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        padding-left: 80px;
    }

        .text-s2 > h2{
            color: var(--cor-fonte-escura);
            font-size: 3rem;
            font-weight: bold;
        }

        .text-s2 > p{
            color: var(--cor-fonte-escura);
            font-size: 1.4rem;
            font-weight: 600;
            
            margin: 25px 0;
        }

    .section-2 .image-s2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .image-s2 > img{
            width: auto;
            min-width: 320px;
            max-width: 570px;
            margin-top: 100px;
        }

    /* ================ SECTION 3 ================ */

    .section-3{
        background: white;
    }

    .section-3 .text-s3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        padding-right: 80px;
    }

        .text-s3 > h2{
            color: var(--cor-fonte-escura);
            font-size: 3rem;
            font-weight: bold;
        }

        .text-s3 > p{
            color: var(--cor-fonte-escura);
            font-size: 1.4rem;
            font-weight: 600;
            
            margin: 25px 0;
        }

    .section-3 .image-s3{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .image-s3 > img{
            width: auto;
            min-width: 320px;
            max-width: 570px;
            margin-top: 100px;
        }

    /* ================ SECTION 4 ================ */

    .section-4{
        background: var(--secundaria);
    }

    .section-4 .text-s4{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        padding-left: 80px;
    }

        .text-s4 > h2{
            color: var(--cor-fonte-escura);
            font-size: 3rem;
            font-weight: bold;
        }

        .text-s4 > p{
            color: var(--cor-fonte-escura);
            font-size: 1.4rem;
            font-weight: 600;
            
            margin: 25px 0;
        }

    .section-4 .image-s4{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .image-s4 > img{
            width: auto;
            min-width: 320px;
            max-width: 570px;

            position: absolute;
            bottom: 0;
        }

    /* ================ SECTION 5 ================ */

    .section-5{
        background: white;
    }

    .section-5 .text-s5{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        padding-right: 80px;
    }

        .text-s5 > h2{
            color: var(--cor-fonte-escura);
            font-size: 3rem;
            font-weight: bold;
        }

        .text-s5 > p{
            color: var(--cor-fonte-escura);
            font-size: 1.4rem;
            font-weight: 600;

            margin: 25px 0;
        }

    .section-5 .image-s5{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .image-s5 > img{
            width: 90%;
            min-width: 320px;
            max-width: 675px;

            position: absolute;
            bottom: 0;
        }
    
    /* ================ SECTION 6 ================ */

    .section-6{
        background: var(--primaria);
    }

    .section-6 .text-s6{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        padding-left: 80px;
    }

        .text-s6 > h2{
            color: var(--cor-fonte-clara);
            font-size: 3rem;
            font-weight: bold;
        }

        .text-s6 > p{
            color: var(--cor-fonte-clara);
            font-size: 1.4rem;
            font-weight: 600;

            margin: 25px 0;
        }

    .section-6 .form-s6{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .form-s6 > .form-box-s6{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 70%;
        }

            .form-box-s6 > .form-box-title{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: black;

                width: 100%;

                border-top-left-radius: 12px;
                border-top-right-radius: 12px;

                padding: 30px 10px;
            }

                .form-box-title > h3{
                    color: white;
                    text-align: center;
                }

        .form-box-s6 > form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-color: white;

            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            width: 100%;

            padding: 30px 0;
        }

            .form-box-s6 > form > p{
                font-size: 1.2rem;
                font-weight: bold;
            }
      
            form > .input-form-s6{
                width: 80%;
                height: 50px;

                border-radius: 4px;
                border: 1px solid grey;

                margin-bottom: 25px;
                padding: 10px;
            }

            form > .input-form-s6:focus{
                border: 1px solid var(--primaria-escura);
            }

            form > .submit-form-s6{
                color: white;
                font-size: 1.4rem;
                font-weight: 500;

                background-color: var(--primaria-escura);

                width: 70%;
                height: 50px;

                border: none;
                padding: 10px;

                cursor: pointer;
                transition: .2s ease-out;
            }

            form > .submit-form-s6:hover{
                background-color: var(--primaria-claro);
            }